@use '@angular/material' as mat;

$blueGrey: mat.define-palette(mat.$blue-grey-palette);
$blueGrey100: mat.define-palette(mat.$blue-grey-palette, 100);



.column-item_wrapper {
  width: 300px;
  padding: 5px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: mat.get-color-from-palette($blueGrey100);
  border: mat.get-color-from-palette($blueGrey) solid 3px;
  border-radius: 10px;

  .column-item_title {
    text-align: center;
    width: 90%;
    overflow-wrap: break-word;
  }

  .column-item_title_edit {
    margin-bottom: 10px;

    .edit-column_buttons_wrapper {
      display: flex;
      column-gap: 20px;

      .edit-column_button {
        width: 100px;
      }
    }
  }

  .column-item_task {
    display: flex;
    justify-content: center;
  }

  .column-item_delete-button {
    width: 90%;
  }
}

.column-item_task_wrapper {
  width: 300px;
  padding-bottom: 10px;
}