<div class="board_wrapper" *transloco="let t">
  <div class="board-page_buttons_wrapper">
    <button class="board_create-column_button" mat-raised-button color="primary" (click)="onOpenCreateColumnModal()">{{
      t('newColumnButton') }}</button>
    <button *ngIf="columns.length" class="board_create-task_button" mat-raised-button color="primary"
      (click)="onOpenCreateTaskModal()">{{
      t('newTaskButton') }}</button>
  </div>
  <div class="board_columns_wrapper" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="column-item" *ngFor="let column of columns" cdkDrag>
      <app-column class="board_column-item" [column]="column"
        (afterColumnDeletionOrEditing)="putInOrderColumnsAfterDeletionColumn($event)"></app-column>
    </div>
  </div>
</div>