<div class="header_wrapper" *transloco="let t">
  <div class="header_buttons_wrapper">
    <button *ngIf="token" mat-raised-button color="primary" routerLink="/edit-profile">{{ t('editProfile')
      }}</button>
    <button *ngIf="token" mat-raised-button color="primary">{{ t('newBoard') }}</button>
    <button *ngIf="token" mat-raised-button color="primary" (click)="onSignOut()">{{ t('signOut') }}</button>
    <button *ngIf="!token" mat-raised-button color="primary" routerLink="/sign-in">{{ t('signIn') }}</button>
    <button *ngIf="!token" mat-raised-button color="primary" routerLink="/sign-up">{{ t('signUp') }}</button>
    <mat-button-toggle-group name="language" aria-label="app language">
      <mat-button-toggle value="en" (click)="change('en')">{{ t('en') }}</mat-button-toggle>
      <mat-button-toggle value="pl" (click)="change('pl')">{{ t('pl') }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>