.edit-profile_form_wrapper {
  width: 320px;
  margin-top: 15px;

  .edit-profile_title {
    text-align: center;
  }

  .edit-profile_form_inputs_wrapper {
    display: flex;
    flex-direction: column;
  }
}