.sign-up_form_wrapper {
  width: 320px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  .sign-up_title {
    text-align: center;
  }

  .sign-up_form_inputs_wrapper {
    display: flex;
    flex-direction: column;
  }

  .sign-up_form_spinner {
    align-self: center;
    margin-top: 15px;
  }
}